<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CakeBash|{% block Title %}{% endblock Title %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% comment %} JS AOS library {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    {% comment %} <script>
      AOS.init();
    </script> {% endcomment %}

    {% block style %}{% endblock style %}
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body class={% block bodyclass %}{% endblock bodyclass %}>
    {% comment %} Navbar {% endcomment %}
    <div>
      <nav class="decorative-border navbar navbar-expand-lg bg-body-tertiary py-0 position-fixed top-0 w-100 custom-shadow bg-body-tertiary  m-0 rounded-3"style="z-index: 500;">
        <div class="container-fluid Custom-color-active p-2">
          <a class="navbar-brand highlight" href="/">CakeBash</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Bake_Cake</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item dropdown">
                <div id="admincontent" style="display:none">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{logged_in}}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/MenuSetUp">Cakes</a></li>
                    <li><a class="dropdown-item" href="/MenuSetUp">Pastries</a></li>
                    <li><a class="dropdown-item" href="/MenuSetUp">Muffins</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  {% if perms.sugar.Menu%}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/menu">Set Menu</a></li>
                  {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex " role="search" action="/search" method="post">
              {% csrf_token %}
              <div class="input-group input">
                <button class="btn btn-outline Custom-color-active border color-change-button"  type="button" id="button-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                  <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"/>
                  <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"/>
                </svg></button>
                <input type="text" class="form-control " placeholder="Search" aria-label="Example text with button addon" name="search" aria-describedby="button-addon1" style="Custom-color">
              </div>
            </form>
          </div>
        </div>
      </nav>
    </div>
    {% block Body %}
    
    {% endblock Body %}
    
        
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  {% block script %}{% endblock script %}
</html>